@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-end-rgb);
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.animation {
    border: 1px solid #000;
}

/* header:has(.header_Navlink:hover) .header_Navlink:not(:hover) {
    color: rgba(238, 242, 255, .7);
} */

.titleStyle {
    background: linear-gradient(146deg, #eef2ff 20.35%, #312d82 128.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardLinear {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.lineLinear {
    background: linear-gradient(
        to right,
        rgba(236, 236, 236, 1) 0%,
        rgba(236, 236, 236, 0) 70%
    );
}

@keyframes pulse-fab {
    50% {
      opacity: .4;
    }
  }
  
.animate-pulse-fab {
    animation: pulse-fab 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loading2 {
    animation-delay: 200ms;
}

.loading3 {
    animation-delay: 400ms;
}

.dropdown-container {
    position: absolute;
    /* ou position: fixed */
    z-index: 9999;
}